[submodule "back-end/8_introducao_a_typescript/back-end/8_introducao_a_typescript/dia01_exercicio/sd-033-a-exercise-trybe-craft"]
	path = back-end/8_introducao_a_typescript/back-end/8_introducao_a_typescript/dia01_exercicio/sd-033-a-exercise-trybe-craft
	url = https://github.com/tryber/sd-033-a-exercise-trybe-crafts
[submodule "back-end/8_introducao_a_typescript/dia02_introducao_a_generics/back-end/8_introducao_a_typescript/dia02_introducao_a_generics/exercicios/sd-033-a-exercise-mercadinho-do-sr-scott"]
	path = back-end/8_introducao_a_typescript/dia02_introducao_a_generics/back-end/8_introducao_a_typescript/dia02_introducao_a_generics/exercicios/sd-033-a-exercise-mercadinho-do-sr-scott
	url = https://github.com/tryber/sd-033-a-exercise-mercadinho-do-sr-scott
