body {
  background-color: #E2F2D6;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#divPicture {
  /* border: 2px solid black; */
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#picture {
  border: 2px solid black;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#divPicture {}

#picture {
  width: 300px;
}

#botao {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#botao {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: red;
  text-align: center;
  transition: all 0.2s;
}